@import 'estilos.css';

/* -- header -- */
.header{
    height: auto;
    padding-top: 9em;
    padding-bottom: 2em;
    background-image: none;
    background-size: unset;
    background-position: unset;
    background-attachment: unset;
    background-color: var(--light-gray);
    position: initial;
}
.header::before{
    display: none;
}
.menu-topics{
    background-color: #fff;
    text-align: center;
    padding: 2em 0;
    box-shadow: var(--sombra);
}
.menu-topics__container{
    display: inline-block;
}
.menu-topics__title{
    color: var(--dark-gray);
    margin-bottom: 1em;
}
.topic__card{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 1em;
    background-size: cover;
    background-position: center;
    box-shadow: var(--sombra);
    transition: box-shadow var(--tiempo);
}
.topic__card:hover{
    box-shadow: var(--sombra-light);
}
.topic__card:last-child{
    margin-right: 0;
}
.topic__card:nth-child(1){
    background-image: url(../img/bg-movies.jpg);
}
.topic__card:nth-child(2){
    background-image: url(../img/bg-series.jpg);
}
.topic__card:nth-child(3){
    background-image: url(../img/bg-videogames.jpg);
}
.topic__card:nth-child(4){
    background-image: url(../img/bg-books.jpg);
}
.topic__card:nth-child(5){
    background-image: url(../img/bg-soccer.jpg);
}
.topic__link{
    display: block;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    line-height: 200px;
    font-size: 1.25em;
    font-weight: var(--semibold);
    transition: background-color var(--tiempo);
}
.topic__link:hover{
    background-color: rgba(0,0,0,0.75);
}
/* contenido principal */
.main{
    color: #000;
}
.topic__section{
    margin-bottom: 3em;
}
.topic__title{
    margin-bottom: 1em;
}
.topic__item{
    margin-bottom: 1em;
}
.item__ill{
    float: left;
    width: 20%;
}
.item__img{
    width: 100%;
}
.item__info{
    float: left;
    width: 80%;
    padding-left: 1em;
    box-sizing: border-box;
}
.item__name{
    margin-bottom: 0.5em;
}
.item__data{
    color: var(--tin);
    font-size: 0.8em;
    margin-top: 0.25em;
}
.item__data::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 0.25em;
}
.item__data--year::before{
    content: '\f073';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}
.item__data--director::before{
    content: '\f0a1';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}
.item__data--author::before{
    content: '\f5ad';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}
.item__data--company::before{
    content: '\f1ad';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}
.item__data--country::before{
    content: '\f57d';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}