:root{
    /* colores */
    --principal: #3bc47b;
    --secundario: #fc4a1a;
    --tin: #828081;
    /* fuentes */
    --display: 'Bebas Neue', cursive;
    --encabezados: 'Lato', sans-serif;
    --cuerpo: 'Montserrat', sans-serif;
    /* z index */
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
body{
    font-family: var(--cuerpo);
    font-weight: 400;
}
h1, h2, h3{
    font-family: var(--encabezados);
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
/* -- header -- */
/* banner*/
.header{
    height: 100vh;
    color: #FFF;
    background-image: url(../img/main-banner.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
}
.header::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(59, 196, 123, 0.6);
}
.header-container{
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.banner-text{
    position: absolute;
    bottom: 15em;
}
.banner__display{
    font-family: var(--display);
    font-size: 5em;
    letter-spacing: 0.05em;
}
.banner__author{
    font-size: 2em;
}
.author__name{
    text-decoration: underline var(--secundario) solid;
}
/* menu de navegacion */
.main-menu{
    background-color: rgba(252, 74, 26, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-normal);
}
.main-menu-container{
    width: 90%;
    margin: 0 auto;
    padding: 0.5em 0;
    overflow: auto;
    font-size: 1em;
}
.main-menu__list{
    float: left;
    margin: 0;
    padding: 0;
}
.main-menu__item{
    display: inline-block;
    padding: 5px;
}
.main-menu__item:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.main-menu__item:hover .main-menu__sub-list{
    display: block;
}
.main-menu__link{
    color: #FFF;
    display: block;
}
.main-menu__sub-list{
    position: absolute;
    top: 80%;
    padding: 0;
    display: none;
}
.main-menu__sub-item{
    padding: 5px;
    background-color: var(--secundario);
}
.main-menu__sub-item:hover{
    background: var(--principal);
    cursor: pointer;
}
/* barra de busqueda */
.main-menu__search{
    float: right;
    overflow: auto;
}
.search__input{
    background-color: rgba(0, 0, 0, 0.1);
    color: #FFF;
    border: 1px solid #FFF;
    padding: 5px 4px;
    float: left;
}
.search__input::placeholder{
    color: inherit;
}
.search__input:focus{
    outline: none;
}
.search__button{
    float: left;
    background-color: rgba(0, 0, 0, 0.1);
    color: #FFF;
    border: 1px solid #FFF;
    border-left: none;
    padding: 5px;
}
.search__button:hover{
    background-color: var(--principal);
    cursor: pointer;
}
/* -- cuerpo principal -- */
.main{
    /* background-color: whitesmoke; */
    width: 70%;
    margin: 0 auto;
    padding: 3em 0;
    font-size: 1.25em;
    color: var(--tin);
}
/* info principal */
.main-info{
    margin-bottom: 5em;
}
.main-info__container{
    overflow: auto;
}
.main-info__text{
    float: left;
    width: 55%;
    line-height: 1.5em;
}
.main-info__title{
    font-size: 2rem;
    color: #000;
    margin-bottom: 0.75em;
}
.main-info__img{
    float: right;
    width: 44%;
}
.main-info__img-svg{
    display: block;
    width: 90%;
    margin: 0 auto;
}
/* lenguajes utilizados */
.main-info__languages{
    overflow: auto;
}
.languages__title{
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    margin: 30px 0;
}
.languages__language{
    width: 50%;
    float: left;
}
.language__card{
    background-color: #f1f1f1;
    width: 50%;
    max-width: 150px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}
.language__img{
    width: 100%;
}
.language__img-svg{
    display: block;
    width: 100%;
}
.language__name{
    color: #000;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid var(--tin);
}
/* sobre mi */
.about-me{
    overflow: auto;
    margin-bottom: 5em;
}
.about-me__title{
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 1em;
}
.about-me__photo{
    width: 7.5%;
    float: left;
    position: relative;
}
.about-me__photo-jpg{
    width: 150px;
    border-radius: 50%;
    border: 1px solid #FFF;
    box-shadow: 0 0 0 5px var(--principal);
    position: absolute;
    left: 5px;
    top: 25px;
}
.about-me__photo-jpg:hover{
    box-shadow: 0 0 0 5px var(--secundario);
}
.about-me__text{
    line-height: 1.5em;
    background-color: #f1f1f1;
    border-radius: 10px;
    float: right;
    width: 92.5%;
    margin: 0;
}
.about-me__text-p{
    padding: 20px 20px 20px 100px;
}
.about-me__button{
    background-color: var(--principal);
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto 20px;
    padding: 0;
}
.about-me__button:hover{
    background-color: var(--secundario);
}
.about-me__button-link{
    color: #FFF;
    font-size: 0.9em;
    font-weight: 500;
    display: block;
    padding: 10px;
}
/* formulario de contacto */
.contact{
    font-size: 0.9em;
}
.contact__form{
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -10px black;
    width: 40%;
    margin: 0 auto;
    padding: 1.5em;
    box-sizing: border-box;
}
.form__title{
    color: #000;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1em;
}
.form__input{
    display: block;
    width: 100%;
    margin: 0.25em 0 0.5em;
    padding: 5px;
    border: 2px solid transparent;
}
.form__input-email:valid{
    border-color: rgba(0, 255, 0, 0.25);
}
.form__input-email:invalid{
    border-color: rgba(255, 0, 0, 0.25);
}
.form__input-txtarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
}
.form__button{
    display: block;
    margin: 20px auto 0;
    border: none;
    background-color: var(--principal);
    color: #FFF;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 3px;
}
.form__button:hover{
    background-color: var(--secundario);
    cursor: pointer;
}
/* footer */
.footer{
    background-color: #383838;
    color: var(--tin);
    padding: 1.5em 0 1em;
}
.footer__container{
    width: 70%;
    margin: 0 auto;  
}
.footer__navs{
    overflow: auto;
    margin-bottom: 1em;
}
.footer__seccion{
    width: 33.33%;
    float: left;
}
.footer__list{
    padding: 0;
    margin: 0;
}
.footer__list--sub{
    margin-top: 0.25em;
    padding-left: 1em;
}
.footer__item{
    margin-bottom: 0.5em;
}
.footer__link{
    color: inherit;
}
.footer__link:hover{
    color: #FFF;
}
.footer__icon{
    margin-right: 0.5em;
}
.footer__date{
    text-align: center;
}